<app-navbar></app-navbar>

<main class="main-content">
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>

<!-- Botón de contacto flotante con texto que aparece al hacer hover -->
<div class="floating-contact-container">
  
  <!-- Texto que aparece a la izquierda -->
  <span class="floating-contact-text">¡Contáctanos!</span>
  
  <!-- Enlace que contiene solo el icono -->
  <a href="https://signal.me/#p/+573001234567" target="_blank" rel="noopener noreferrer" class="floating-icon-link" aria-label="Contactar por Signal">
    <img src="assets/whatsapp.png" alt="whatsapp Issscon">
  </a>
  
</div>